// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
//$accordion-button-bg: none;
$accordion-bg: none;
$accordion-button-active-bg: none;
$accordion-border-color: none;
$accordion-button-active-color: none;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-button-focus-box-shadow: none;
$navbar-light-active-color: rgba(255, 215, 0, .9);
$navbar-dark-active-color: rgba(255, 215, 0, .9);
$navbar-light-color: rgba(255, 215, 0, .9);
$navbar-light-hover-color: rgba(255, 215, 0, .9);
$navbar-light-toggler-border-color: rgba(255, 215, 0, .9);
$aspect-ratios: (
    "1x1": 100%,
    "4x3": calc(3 / 4 * 100%),
    "16x9": calc(9 / 16 * 100%),
    "21x9": calc(9 / 21 * 100%)
);
